*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(30,7,120);
}
.back{
    background-color: rgb(30,7,120);
    height: min(100vh);
}
.form-in{
    background-color: #fff;
    border-radius: 0px;
    padding: 10px;

    input{
        border: 1.5px solid rgb(30,7,120);
        border-radius: 0px;
    }
}
.add{
    width: 100%;
    background-color: rgb(30,7,120);
    color: #fff;
}
.add:hover{
    background-color: #fff;
    color: rgb(30,7,120);
    font-weight: bold;
    border: 1.5px solid rgb(30,7,120);
    border-radius: 0px;
}
